<% if @homework.assignments.exists? %>
  <table class="table text-center">
    <tr>
      <th class="text-center">Student</th>
      <th class="text-center">Latest Answer</th>
      <th></th>
    </tr>
    <% @homework.assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.user.username %></td>
        <% if assignment.answers.exists? %>
          <td><%= assignment.answers.last.answer %></td>
        <% else %>
          <td></td>
        <% end %>
        <td class="text-center"><%= link_to "See Answer History", assignment_url(assignment), class: "btn btn-primary"%></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h4>Assign this homework to students for them to begin work.</h4>
<% end %>